# Python artifacts
venv/
__pycache__/

# Node artifacts
node_modules/

# Local environment & config files
.env
.env.local
.DS_Store

# Logs & temp files
*.log
*.gz
*.tgz
.tmp
.cache

# Docker artifacts
Dockerfile*
.dockerignore

# Git & Editor files
.git
.gitignore
.idea
.vscode

# Project-specific
aiVengers-frontend/
agent-server/
chroma_db/
KMS/
