livekit-agents[cartesia,openai,silero,turn-detector,deepgram,aws,langchain]~=1.0
livekit-plugins-noise-cancellation~=0.2
python-dotenv
aiohttp>=3.8.0
langchain>=0.2
langchain-community>=0.0.15
openai
langchain-chroma
duckduckgo-search
langchain-tavily
langchain-openai